@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-color: hsl(var(--ds-color-border));
}

body {
  background: hsl(var(--ds-color-background));
  color: hsl(var(--ds-color-foreground));
  font-family: var(--ds-font-sans);
}

code,
pre,
.font-audit {
  font-family: var(--ds-font-mono);
}
